<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="user/addUser" method="post">
        <tr>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td><input type="text" name="password"></td>
        </tr>
        <tr>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td><input type="text" name="age"></td>
        </tr>
    </form>
</body>
</html>