<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Insert title here</title>
</head>
<body>
    Hello Spring Boot!!!!
    <input th:value="${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}"/>
    <table>
        <tr>
            <td>id</td>
            <td>姓名</td>
            <td>电话</td>
            <td>邮箱</td>
            <td>年龄</td>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.age}"></td>
        </tr>
    </table>
</body>
</html>